<turbo-stream action="replace" target="numberProduct">
    <template>
       <h6 id="numberProduct">{{render(path('app_cart_quantity'))}} {{'products'|trans}}</h6>
    </template>
</turbo-stream>

<turbo-stream action="replace" target="cartQuantity">
    <template>
        <sup id='cartQuantity'>
                  {{render(path('app_cart_quantity'))}}
        </sup>
    </template>
</turbo-stream>

<turbo-stream action="replace" target="cartTotalPrice">
    <template>
        <span id="cartTotalPrice">
            {% set totalPrice = render(path('app_cart_totalPrice')) %}
            {{(totalPrice/100)| format_currency('EUR',locale= app.session.get('_locale'))}}
        </span>
    </template>
</turbo-stream>

<turbo-stream action="replace" target="cartTotalPriceForEachProduct{{id}}-{{size}}">
    <template>
    <span id="cartTotalPriceForEachProduct{{id}}-{{size}}" data-turbo-stream="true">  
        {% set totalPriceForEachProduct = render(path('app_cart_totalPriceForEachProduct',{id : id, sizeId: size})) %}
        {{(totalPriceForEachProduct/100)| format_currency('EUR',locale= app.session.get('_locale'))}}
    </span>
    </template>
</turbo-stream>


